<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs'); %>
	</head>
<body>
  <div id="preloader"></div>
  <div class="header">
    <%- include('../partials/header.ejs', {account: user?.name ?? "", car }); %>
  </div>
  <div class="container mt-5 pt-5">
    <h1>Dashboard</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Sections</h4>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="/dashboard/products">Products</a>
              </li>
              <li class="list-group-item">
                <a href="/dashboard/categories">Categories</a>
              </li>
              <li class="list-group-item">
                <a href="/dashboard/users">Users</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <form action="/dashboard/products" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="form-group">
              <label for="price">Price:</label>
              <input type="number" class="form-control" id="price" name="price" required>
            </div>
            <div class="form-group">
              <label for="quantity">Quantity:</label>
              <input type="number" class="form-control" id="quantity" name="quantity" required>
            </div>
            <div class="form-group">
              <label for="price">Size:</label>
              <input type="text" class="form-control" id="size" name="size" maxlength="25" required>
            </div>
            <div class="form-group">
              <label for="assessment">Assessment:</label>
              <input type="number" class="form-control" id="assessment" name="assessment">
            </div>
            <div class="form-group">
              <label for="categoryId">Category:</label>
              <select class="form-control" id="categoryId" name="categoryId" required>
                <option value="">Select a category</option>
                <% categories.forEach(category => { %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="image">Images:</label>
              <input type="file" name="images" multiple required />
            </div>
            <div class="form-group">
              <label for="keyBenefits">Key Benefits:</label>
              <textarea class="form-control" id="keyBenefits" name="keyBenefits"></textarea>
            </div>
            <div class="form-group">
              <label for="howUse">How to use:</label>
              <textarea class="form-control" id="howUse" name="howUse"></textarea>
            </div>
            <div class="form-group">
              <label for="ingredients">Full ingredients list:</label>
              <textarea class="form-control" id="ingredients" name="ingredients"></textarea>
            </div>
            <div class="form-group">
              <label for="caution">Caution:</label>
              <textarea class="form-control" id="caution" name="caution"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="card mt-2">
          <div class="card-header">
            <h4>Products</h4>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <% for(var i=0; i < products.length; i++) { %>
                   <tr>
                     <td><img src="<%= products[i].image %>" width="100"></td>
                     <td>Name: <%= products[i].name %></td>
                     <td>Price: <%= products[i].price %>$</td>
                     <td>Quantity: <%= products[i].quantity %></td>
                     <td>Size: <%= products[i].size %></td>
                     <td>Assessment: <%= products[i].assessment %></td>
                   </tr>
                   <% } %>
                </table>
                
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/script.ejs'); %>
</body>
</html>