<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs'); %>
	</head>
<body>
  <div class="header">
    <%- include('../partials/header.ejs', {account: user?.name ?? "", car }); %>
  </div>
  <div class="container mt-5 pt-5">
    <h1>Dashboard</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Recent Activity</h4>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="/dashboard/products">Products</a>
              </li>
              <li class="list-group-item">
                <a href="/dashboard/categories">Categories</a>
              </li>
              <li class="list-group-item">
                <a href="/dashboard/users">Users</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <form action="/users" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
              <label for="lastname">Lastname:</label>
              <input type="text" class="form-control" id="lastname" name="lastname">
            </div>
            <div class="form-group">
              <label for="image">Image:</label>
              <input type="file" class="form-control" id="image" name="image">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
              <label for="type">User Type:</label>
              <select class="form-control" id="type" name="type">
                <option value="ADMIN">ADMIN</option>
                <option value="CLIENT">CLIENT</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        <div class="card">
          <div class="card-header">
            <h4>Users</h4>
          </div>
          <table class='table table-striped table-bordered table-hover'>
            <thead>
              <tr >
              <th>ID</th>
              <th>Name</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Type</th>
              </tr>
            </thead>
            <% users.map( user => { %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %> </td>
                  <td><%= user.lastname %> </td>
                  <td><%= user.email %> </td>
                  <td><%= user.type %></td>
                </tr>
                 <% }) %>
              </table>
              
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/script.ejs'); %>
</body>
</html>