<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
		<link rel="stylesheet" href="assets/css/styles_blog.css" />
	</head>
	<body>
		<!--  ------------------ PROMO ------------------ -->
		<div class="promo">
			<span>
				<a href="#">
					<i class="fas fa-envelope"></i> contactvitahealthc@gmail.com
				</a></span
			>
			<span>Get 30% OFF This Christmas Holidays</span>
			<span>
				<ul class="media_social">
					<li>
						<a href="#"><i class="fab fa-facebook-square"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</li>
				</ul>
			</span>
		</div>

		<!-- ------------------ HEADER ------------------------ -->
		<div class="header">
			<%- include('partials/header.ejs', { account: "LOGIN", car }); %>
		</div>

		<!-- ------------------------  LATEST BLOGS ------------------------  -->
		<section class="section">
			<div class="title">
				<h1>Blog</h1>
				<div>
					<header class="header-container">
						<h2 class="title-back">Latest Articles</h2>
						<hr />
					</header>
				</div>
			</div>
		</section>

		<section class="section-blog">
			<div class="container-blog">
				<main class="main-blog">


					<% for(var i=0; i < posts.length; i++) { %>

						<div class="single-blog">
							<img
                src="./img/day-skincare-marula-oil-vegan_480x480.jpg"
								class="img-blog"
								alt=""
							/>
							<div class="blog-content">
								<h3>
									<%= posts[i].title %><span>Vita Style</span>
								</h3>
								<p>
									By <a href="#"></a> <%= posts[i].user %> | <a href="#"></a> <%= posts[i].created_at %>
								</p>
								<a href="#" class="btn">Read More</a>
							</div>
						</div>
						<% } %>
				
				</main>
			</div>
			
		</section>

		<!-- ------------------------  Footer ------------------------  -->
		<div class="footer">
			<div class="container-footer">
				<div class="row-footer">
					<div class="footer-col-3">
						<a href="/">
							<h3>Vita Health Center</h3>
						</a>
						<ul>
							<li>
								<a href="/faq">FAQ</a>
							</li>
							<li>
								<a href="/blog">Blogs Post</a>
							</li>
							<li>My Account</li>
							<li>
								<a href="/contact">Contact us</a>
							</li>
							<li>
								<a href="/privacy_policies">Terms of Use — Privacy Policy</a>
							</li>
						</ul>
					</div>

					<div class="footer-col-2">
						<a href="/">
							<img src="./img/1.png" />
						</a>
					</div>

					<div class="footer-col-3">
						<a href="/skincare">
							<h3>Vita Skincare</h3>
						</a>
						<ul>
							<li class="li-footer"></li>
							<li>
								<a href="/blog">Blogs Post</a>
							</li>
							<li>My Account</li>
							<li>instructions</li>
							<li>
								<a href="/returns_exchanges">Return Policy</a>
							</li>
							<li>
								<a href="/privacy_policies">Terms of Use — Privacy Policy</a>
							</li>
						</ul>
					</div>
					<div class="footer-col-4">
						<h3>Follow us</h3>
						<ul>
							<li>Facebook</li>
							<li>
								<a href="https://www.instagram.com/vitahealthc/" target="_blank"
									>Instagram</a
								>
							</li>
							<li>Pinterest</li>
						</ul>
					</div>
				</div>
				<hr />
				<p class="copyright">Copyright 2021 - Vita Inc</p>
			</div>
		</div>
	</body>
</html>
