<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
		<link rel="stylesheet" href="assets/css/styles_blog.css" />
	</head>
	<body>
    <!--  ------------------ PROMO ------------------ -->
    <%- include('partials/banner.ejs'); %>
		
		<!-- ------------------ HEADER ------------------------ -->
		<div class="header">
			<%- include('partials/header.ejs', { account: "LOGIN", car }); %>
		</div>

		<!-- ------------------------  LATEST BLOGS ------------------------  -->
		<section class="section">
			<div class="title">
				<h1>Blog</h1>
				<div>
					<header class="header-container">
						<h2 class="title-back">Latest Articles</h2>
						<hr />
					</header>
				</div>
			</div>
		</section>

		<section class="section-blog">
			<div class="container-blog">
				<main class="main-blog">


					<% for(var i=0; i < posts.length; i++) { %>

						<div class="single-blog">
							<img
								src="<%= posts[i]?.image ?? "./img/day-skincare-marula-oil-vegan_480x480.jpg" %>"
								class="img-blog"
								alt=""
							/>
							<div class="blog-content">
								<h3>
									<%= posts[i].title %><span>Vita Style</span>
								</h3>
								<p>
									By <a href="#"></a> <%= `${posts[i].createdBy.name} ${posts[i].createdBy.lastname}` %> | <a href="#"></a> <%= posts[i].created_at %>
								</p>
								<a href="blog/<%= posts[i].id %>" class="btn">Read More</a>
							</div>
						</div>
						<% } %>
				
				</main>
			</div>
			
		</section>

		<!-- ------------------------  Footer ------------------------  -->
		<%- include('partials/skincare-footer.ejs'); %>
	</body>
</html>
