<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
	</head>
<body>
  <div class="container">
    <h2>Bienvenido <%= user.name %> </h2>
    <table class="table">
      <% for(var i=0; i < products.length; i++) { %>
           <tr>
             <td> ID:<%= products[i].id %></td>
             <td> <img src="<%= products[i].image %>" width="100"></td>
             <td> Nombre: <%= products[i].name %></td>
             <td> Precio: <%= products[i].price %>$</td>
             <td> Cantidad: <%= products[i].quantity %></td>
           </tr>
           <% } %>
        </table>
        
        <hr>
        <h2>Crear productos productos</h2>

        <form  class="form" action="/create_product" method="post"  enctype="multipart/form-data">
          <input type="text" name="name" id="" placeholder="Nombre">
          <input type="text" name="price" id="" placeholder="Precio">
          <textarea name="description" id="" cols="20" rows="5"></textarea>
          <input type="text" name="quantity" id="" placeholder="Cantidad">
          <input type="text" name="category_id" id="" placeholder="categoria">
          <br>
          <input type="file" name="image" id="" placeholder="image">
          <br>
          <input type="file" name="image" id="" placeholder="image">
          <br>
          <input type="file" name="image" id="" placeholder="image">
          <br>
          <input type="file" name="image" id="" placeholder="image">
          <br>
          <input type="file" name="image" id="" placeholder="image">
          <br>
          <input type="submit" value="create">
        </form>


        <h2>Actualizar productos</h2>

        <form action="/update_product" method="post" style="margin-top: 2em;">
          <input type="text" name="id" id="" placeholder="ID">
          <input type="text" name="name" id="" placeholder="Nombre">
          <input type="text" name="price" id="" placeholder="Precio">
          <textarea name="description" id="" cols="20" rows="5"></textarea>
          <input type="text" name="quantity" id="" placeholder="Cantidad">
          <input type="text" name="category_id" id="" placeholder="categoria">
          <input type="submit" value="update">
        </form>


        <h2>Eliminar productos</h2>

        <form action="/delete_product" method="post" style="margin-top: 2em;">
          <input type="text" name="product_id" id="" placeholder="ID">
          <input type="submit" value="delete">
        </form>
        </div>
</body>
</html>