<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
	</head>

	<body>
		<!--  ------------------ PROMO ------------------ -->
		<div class="promo">
			<span>
				<a href="#">
					<i class="fas fa-envelope"></i> contactvitahealthc@gmail.com
				</a></span
			>
			<span>Get 30% OFF This Christmas Holidays</span>
			<span>
				<ul class="media_social">
					<li>
						<a href="#"><i class="fab fa-facebook-square"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</li>
				</ul>
			</span>
		</div>

		<!-- ------------------ HEADER ------------------------ -->
		<div class="header">
			<%- include('partials/header.ejs', {account: user.name}); %>
		</div>
		<!-- ------------------ End Header ------------------------ -->

		<!-- ----------------- SINGLE PRODUCT DETAILS ------------- -->

		<div class="content-product">
			<div class="content-wrapper">
				<!-- Elemento 1 -->
				<div class="view-product">
					<div class="col-2">
						<img src="./img/dermaroller .jpg" width="4px" id="ProductImg" />

						<div class="small-img-row">
							<div class="small-img-col">
								<img src="./img/6.jpg" class="small-img" />
							</div>
							<div class="small-img-col">
								<img src="./img/5985purple.jpg" class="small-img" />
							</div>
							<div class="small-img-col">
								<img
									src="./img/6000purpleEdit-e1550857076887.jpg"
									class="small-img"
								/>
							</div>
						</div>
					</div>
				</div>

				<!-- Elemento 2 -->
				<div class="info-producto">
					<h2>AcuLift Face & Body Derma Roller Combo</h2>
					<p class="product-price">$250</p>
					<p class="paragraph-product">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolorum
						tempore quaerat illum rem commodi perspiciatis autem veritatis vitae
						magnam similique soluta necessitatibus cum ab, quae odio? Similique,
						voluptates nobis? Non sapiente ad vel optio quam ratione magni alias
						laboriosam quas vero, maxime voluptate architecto itaque molestias
						voluptatum! Commodi nobis ex porro unde harum fuga minima nostrum
					</p>
					<label class="size-product">Size</label>
					<select class="select-css">
						<option>Selecciona una opción</option>
						<option>.5 mm</option>
						<option>1mm</option>
					</select>
					<!-- <select>
						<option>Select Size</option>
						<option>.5m</option>
						<option>1mm</option>
					</select> -->
					<div class="container-flex">
						<input type="number" value="1" />
						<a href="something" class="button1">Add to card</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Descrition for products -->
		<section class="section services-container">
			<div>
				<nav class="services">
					<!-- Service 1 -->
					<figure class="service-btn service1 active">
						<h3>Description</h3>
						<i class="fas fa-sort-down"></i>
					</figure>

					<!-- Service 1 -->
					<figure class="service-btn service1 active">
						<h3>Additional information</h3>
						<i class="fas fa-sort-down"></i>
					</figure>

					<!-- Service 1 -->
					<figure class="service-btn service1 active">
						<h3>Video</h3>
						<i class="fas fa-sort-down"></i>
					</figure>

					<!-- Service 1 -->
					<figure class="service-btn service1 active">
						<h3>Reviews</h3>
						<i class="fas fa-sort-down"></i>
					</figure>
				</nav>

				<div class="services-desc">
					<!-- Services 1 -->
					<article class="service1-desc" style="display: block">
						<p>
							The perfect finishing touch in our skin care regimen! with
							hyaluronic acid to lift and tighten, rejuvenate, and reduce
							inflammation. Great for AM and PM! Handmade in the United States.
							Organic, Vegan. Our Shelf life is truly short; we process and make
							your order when you order it. The product does not sit on the
							shelves of factories where the product heats up and pesticides are
							sprayed. We do not use any “hidden” chemicals” Our ingredient list
							is true, transparent and natural. All products made in the United
							States. Each bottle packaged with hands not by a conveyor belt
							that has been sprayed with chemical. Fulfillment is by hand not by
							machine sprayed with chemicals. Our bottles are even labeled by
							hand so that the product is not touched by machinery. Made with
							rose hip apple pectin stem cells, CBD, arnica and camillia oil
							infused with vitamins, shea butter, pearl powder and camillia oil.
							All ingredients are organic and vegan.
						</p>
					</article>

					<!-- Services 2 -->
					<article class="service2-desc">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod
							debitis, totam fugiat recusandae atque odio alias quas ullam
							impedit obcaecati animi sapiente? Ab, corporis repellat sapiente
							fuga laboriosam tempore?
						</p>
					</article>

					<!-- Services 3 -->
					<article class="service3-desc">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod
							debitis, totam fugiat recusandae atque odio alias quas ullam
							impedit obcaecati animi sapiente? Ab, corporis repellat sapiente
							fuga laboriosam tempore?
						</p>
					</article>

					<!-- Services 4 -->
					<article class="service4-desc">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod
							debitis, totam fugiat recusandae atque odio alias quas ullam
							impedit obcaecati animi sapiente? Ab, corporis repellat sapiente
							fuga laboriosam tempore?
						</p>
					</article>

					<!-- Services 5 -->
					<article class="service5-desc">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod
							debitis, totam fugiat recusandae atque odio alias quas ullam
							impedit obcaecati animi sapiente? Ab, corporis repellat sapiente
							fuga laboriosam tempore?
						</p>
					</article>
				</div>
			</div>
		</section>

		<!--    Title -->
		<!-- <div class="small-container-product">
			<div class="row-product row-2">
				<h2>Related Products</h2>
			</div>
		</div> -->

		<!-- ----------------- Related products -----------------  -->
		<section class="section">
			<div class="title title-shop-skinscare"></div>
			<div class="product-center container">
				<% for(let i=0; i < products_related.length; i++) { %>
				<div class="product">
					<div class="img-cover">
						<img src="<%= products_related[i].image %>" />
					</div>
					<p><%= products_related[i].name %></p>
					<div class="rating">
						<% for(var j=0; j < products_related[i].assessment; j++) { %>
						<i class="bx bxs-star"></i>
						<% } %>
					</div>
					<div class="price">$<%= products_related[i].price %></div>
					<a href="/shop">aqui</a>
				</div>
				<% } %>
			</div>
		</section>

		<!-- ------------------------  Footer ------------------------  -->
		<div class="footer">
			<div class="container-footer">
				<div class="row-footer">
					<div class="footer-col-3">
						<h3>Vita Health Center</h3>
						<ul>
							<li class="li-footer"></li>
							<li>FAQ</li>
							<li>Blogs Post</li>
							<li>My Account</li>
							<li>Contact us</li>
							<li>Terms of Use — Privacy Policy</li>
						</ul>
					</div>
					<div class="footer-col-2">
						<img src="./img/1.png" />
					</div>
					<div class="footer-col-3">
						<h3>Vita Skincare</h3>
						<ul>
							<li class="li-footer"></li>
							<li>Blogs Post</li>
							<li>My Account</li>
							<li>instructions</li>
							<li>Return Policy</li>
							<li>Terms of Use — Privacy Policy</li>
						</ul>
					</div>
					<div class="footer-col-4">
						<h3>Follow us</h3>
						<ul>
							<li>Facebook</li>
							<li>Instagram</li>
							<li>Pinterest</li>
						</ul>
					</div>
				</div>
				<hr />
				<p class="copyright">Copyright 2021 - Vita Inc</p>
			</div>
		</div>
		<script>
			console.log('hola mundo desde js');
			var ProductImg = document.getElementById('ProductImg');

			var SmallImg = document.getElementsByClassName('small-img');

			SmallImg[0].onclick = function () {
				ProductImg.src = SmallImg[0].src;
				console.log(ProductImg);
			};

			SmallImg[1].onclick = function () {
				ProductImg.src = SmallImg[1].src;
			};

			SmallImg[2].onclick = function () {
				ProductImg.src = SmallImg[2].src;
			};
		</script>
		<%- include('partials/script.ejs'); %>
	</body>
</html>
