<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
	</head>

	<body>
		<!--  ------------------ PROMO ------------------ -->
		<%- include('partials/banner.ejs'); %>
	
		<!-- ------------------ HEADER ------------------------ -->
		<div class="header">
			<%- include('partials/header.ejs', {account: user.name, car: user.car}); %>
		</div>
		<!-- ------------------ End Header ------------------------ -->

		<!-- ----------------- SINGLE PRODUCT DETAILS ------------- -->

		<div class="content-product">
			<div class="content-wrapper">
				<!-- Elemento 1 -->
				<div class="view-product">
					<div class="col-2">
						<img src="./img/product7.jpg" width="4px" id="ProductImg" />

						<div class="small-img-row">
							<div class="small-img-col">
								<img src="./img/product8.jpg" class="small-img" />
							</div>
							<div class="small-img-col">
								<img src="./img/product9.jpg" class="small-img" />
							</div>
							<div class="small-img-col">
								<img src="./img/product10.jpg" class="small-img" />
							</div>
						</div>
					</div>
				</div>

				<!-- Elemento 2 -->
				<div class="info-producto">
					<h2>AMMATERRE BUNDLE - Day Cream, Night Cream and Eye Serum</h2>
					<p class="product-price">$250</p>
					<label class="size-product">Size</label>
					<select>
						<option>Select Size</option>
						<option>.5m</option>
						<option>1mm</option>
					</select>
					<input type="number" value="1" />
					<a href="#" class="btn-product">Add to card</a>
					<h3>Description</h3>
					<p>
						540 titanium over stainless steel micro-needles. Available in either
						1.0mm for normal skin or .5mm for sensitive skin.
					</p>
				</div>
			</div>
		</div>

		<!--    Title -->
		<div class="small-container-product">
			<div class="row-product row-2">
				<h2>Related Products</h2>
			</div>
		</div>

		<!-- ----------------- Related products -----------------  -->
		<section class="section">
			<div class="title title-shop-skinscare"></div>
			<div class="product-center container">
				<% for(let i=0; i < products_related.length; i++) { %>
				<div class="product">
					<div class="img-cover">
						<img src="<%= products_related[i].image %>" />
					</div>
					<p><%= products_related[i].name %></p>
					<div class="rating">
						<% for(var j=0; j < products_related[i].assessment; j++) { %>
						<i class="bx bxs-star"></i>
						<% } %>
					</div>
					<div class="price">$<%= products_related[i].price %></div>
					<a href="/shop">aqui</a>
				</div>
				<% } %>
			</div>
		</section>

		<!-- ------------------------  Footer ------------------------  -->
		
		<script>
			var ProductImg = document.getElementById('ProductImg');

			var SmallImg = document.getElementsByClassName('small-img');

			SmallImg[0].onclick = function () {
				ProductImg.src = SmallImg[0].src;
				console.log(ProductImg);
			};

			SmallImg[1].onclick = function () {
				ProductImg.src = SmallImg[1].src;
			};

			SmallImg[2].onclick = function () {
				ProductImg.src = SmallImg[2].src;
			};
		</script>
		<%- include('partials/script.ejs'); %>
		<script src="/assets/js/index.js"></script>
	</body>
</html>
