<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs'); %>
</head>

<body>

  <!-- ------------------ HEADER ------------------------ -->
  <div class="header">
    <%- include('partials/header.ejs', { account: user.name ?? "unknown" , car }); %>
  </div>
  <!-- ------------------ End Header ------------------------ -->
  
  <!-- ----------------- SINGLE PRODUCT DETAILS ------------- -->
  <div class="container my-5 py-5">
    <% if (payment === 'true') { %>
      <div class="row">
        <div class="col-md-12 mt-5">
          <div class="alert alert-success" role="alert">
            Your purchase was successful. We will contact you soon.
          </div>
        </div>
      </div>
    <% } %>

    <% if (payment === 'false') { %>
      <div class="row">
        <div class="col-md-12 mt-5">
          <div class="alert alert-danger" role="alert">
            Your purchase was not successful. Try again.
          </div>
        </div>
      </div>
    <% } %>

    <div class="row mt-5 bg-gray">
      <div class="col-md-6">
        <h1 class="py-4">Shopping cart</h1>
      </div>
      <div class="col-md-12">
        <div class="row">
          <% for (var i=0; i < car.items.length; i++) { %>
            <div class="col-md-12 shopping__container">
              <div class="shopping__item p-4">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <img src="<%= car.items[i].product.images[0].image %>">
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="card-body">
                      <%= car.item %>
                        <h5 class="card-title shopping__title">
                          <%= car.items[i].product.name %>
                        </h5>
                        </p>
                        <p class="card-text shopping__quantity">Quantity: <%= car.items[i].count %>
                        </p>
                        <p class="card-text shopping__size">Size: <%= car.items[i].size %>
                        </p>
                        <p class="card-text shopping__size">Price: <%= car.items[i].product.price %>
                        </p>
                    </div>    
                  </div>
                </div>
                <div class="py-2">
                  <a href="/shopping_cart/delete/<%= car.items[i].id %>" class="btn btn-danger btn-sm">Remove item</a>
                </div>
              </div>
            </div>
            <% } %>

        </div>
        <div class="row py-3 d-flex justify-content-end">
          <button class="shopping__checkout" onclick="checkout()" id="btn-checkout">Checkout</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ------------------------  Footer ------------------------  -->
  <%- include('partials/skincare-footer.ejs'); %>

  <script>
    var ProductImg = document.getElementById('ProductImg');

    var SmallImg = document.getElementsByClassName('small-img');

    if (SmallImg[0]) {
      SmallImg[0].onclick = function () {
        ProductImg.src = SmallImg[0].src;
        console.log(ProductImg);
      };
    }

    if (SmallImg[1]) {
      SmallImg[1].onclick = function () {
        ProductImg.src = SmallImg[1].src;
      };
    }

    if (SmallImg[2]) {
      SmallImg[2].onclick = function () {
        ProductImg.src = SmallImg[2].src;
      };
    }

    function checkout() {
      const btnCheckout = $('#btn-checkout');
      btnCheckout.text('Checkout ...');
      btnCheckout.attr('disabled', true);

      fetch('shopping_cart/payment', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        redirect: "follow",
      })
        .then(async (response) => {
          const jsonData = await response.json();

          if (jsonData?.redirect) {
            window.location.href = jsonData.redirect;
          }

          if (jsonData?.errors) {
            let errors = '';
            jsonData.errors.forEach(item => {
              errors += '- ' + item.message + '<br />';
            });

            Swal.fire({
              html: errors,
              icon: "error",
            });
          }
        })
        .catch((error) => {
          Swal.fire({
            html: `<pre>${error?.message ?? response.statusText}</pre>`,
            icon: "error",
          });
        })
        .finally(() => {
          btnCheckout.text('Checkout');
          btnCheckout.attr('disabled', false);
        });
    }
  </script>
  <%- include('partials/script.ejs'); %>
    <script src="/assets/js/index.js"></script>
</body>

</html>