<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
	</head>

	<body>
		<!-- TODO: PROBANDO LOADING EN LA VISTA DE SKINCARE -->
		<div id="preloader"></div>

		<!--  ------------------ PROMO ------------------ -->
		<%- include('partials/banner.ejs'); %>

		<!-- -------------- Main ---------------->
		<main>
			<!-- Hero -->
			<section class="hero">
				<div class="glide" id="glide1">
					<div class="glide__track" data-glide-el="track">
						<ul class="glide__slides glide__hero">
							<li class="glide__slide">
								<div class="banner animate__animated animate__fadeInUp">
									<div class="banner-content shop-now_btn">
										<div class="buttons-group shop-buttons-now">
											<button class="skincare-btn-now">
												<a href="#skincare-section">SHOP NOW</a>
											</button>
										</div>
									</div>
									<img
										src="./img/banners/skincare.jpg"
										class="special_01"
										alt=""
									/>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</main>

		<!-- ----------- Sección About Us------------- -->
		<section class="section section-scroll">
			<div class="title title-shop-skinscare">
				<h1>About us</h1>
				<div>
					<header class="header-container header-history">
						<!-- - HISTORY ABOUT VITAHEALTHC - -->
						<h2 class="title-back title-back-skinscare">
							History Vita Skincare
						</h2>
						<hr class="hr-skinscares" />
					</header>
					<div class="title-paragraph paragraph-left">
						<p class="">
							When I was an acupuncture student in October 2020, I did a facial
							acupuncture specialization.  I discovered with the use of a good
							serum and  the derma roller or hydra roller, it is possible that
							you can rejuvenate your face and more without using chemical and
							plastic surgery to look younger. This process  can deform your
							appearance over time
						</p>

						<ul>
							<li>
								  Hydra roller which is a serum infuser. Statistic South Korea,
								Europe and USA clinically conducted studies have shown that the
								roller can increase serum absorption by as much as 300 times.
							</li>
							<li>
								Derma Roller with titanium needle eliminates wrinkles, dark
								spots, acne scars. It produces collagen, smooths the skin, and
								improves hair growth.  Studies in 10 patients demonstrated an
								average increase in collagen and elastin fiber of 206% in one
								case a 1000%
							</li>
						</ul>
					</div>
					<p class="title-paragraph">
						Vita Skincare is supported by Vita Health Center. It was created to
						give his clients and anybody who likes noninvasive facial
						rejuvenation, vegan, and organic skincare products.
					</p>

					<header class="header-container">
						<!-- - MISSION - -->
						<h2 class="title-back title-back-skinscare">
							Vita Skincare Organic & Vegan Beauty
						</h2>
						<hr class="hr-skinscares" />
					</header>
					<p class="title-paragraph">
						We are proud to offer high quality natural products infused with
						organic ingredients. Products formulated without parabens or harsh
						chemicals and never tested on animals. Vita skin care provides love,
						peace of mind, satisfaction and enjoyment. We are  transparent in
						our disclosures and make you  conscious of our global impact on
						nature. Vita skin care is for someone who is looking for a natural
						way to rejuvenate the skin in an organic, vegan and noninvasive way.
					</p>
				</div>
			</div>
		</section>

		<!-- ----------------- Our Values -----------------  -->
		<section class="section services-container section-scroll">
			<div class="title">
				<div>
					<header class="header-container">
						<h2 class="title-back title-back-skinscare">Our Values</h2>
						<hr class="hr-skinscares" />
					</header>
				</div>
			</div>
			<div>
				<nav class="services">
					<!-- Service 1 -->
					<figure class="service-btn">
						<img src="./img/natural.jpg" alt="" />
						<h3 title-back-skinscare>
							We promote natural and noninvasive skin care solution
						</h3>
						<figcaption class="caption-skinscare">
							We promote a conscious lifestyle for all our community and the use
							our derma roller and hydra roller.
						</figcaption>
					</figure>

					<!-- Service 2 -->
					<figure class="service-btn">
						<img src="./img/protecanimals.jpg" alt="" />
						<h3>We protect the life of all Animals.</h3>
						<figcaption class="caption-skinscare">
							Our products are vegan, never tested on animals, parabens, harsh
							chemicals and solely derived botanically infused.
						</figcaption>
					</figure>

					<!-- Service 3 -->
					<figure class="service-btn">
						<img src="./img/recicle.jpg" alt="" />
						<h3>We love our earth</h3>
						<figcaption class="caption-skinscare">
							We want our packaging be made by recycle material with the
							intension encourage our Vita Skincare community to use more
							recycle products and educating them of the importance a preserving
							nature.
						</figcaption>
					</figure>

					<!-- Service 4 -->
					<figure class="service-btn">
						<img src="./img/donation.jpg" alt="" />
						<h3>We help others</h3>
						<figcaption class="caption-skinscare">
							We support others when you are buying our skincare products. A
							portion of your purchases are donated to the Care for Skin Care
							Foundation. it is a non-profit organization created to support
							people who have suffered loss of skin due to accidents, tumors,
							burns, scars or genetic abnormalities.
							<a href="www.careforskin.org">www.careforskin.org</a>
						</figcaption>
					</figure>
				</nav>
			</div>
		</section>

		<!-- ----------------- SHOP -----------------  -->
		<section class="section section-scroll" id="skincare-section">
			<div class="title title-shop-skinscare">
				<h1>Shop</h1>
				<div>
					<header class="header-container">
						<h2 class="title-back title-back-skinscare">
							Healthy skin start here
						</h2>
						<hr class="hr-skinscares" />
					</header>
				</div>
			</div>
			<div class="product-center products-three container">
				<% for(let i=0; i < products.length; i++) { %>
				<!-- Producto # <%= i + 1 %> -->
				<div class="product">
					<a href="/shop/<%= products[i].id %>">
						<div class="img-cover">
							<img src="<%= products[i]?.image?.image %>" />
						</div>
						<p><%= products[i].name %></p>
						<div class="rating">
							<% for(var j=0; j < products[i].assessment; j++) { %>
							<i class="bx bxs-star"></i>
							<% } %>
						</div>
						<p class="product_label_home"><%= product_label[products[i].label] %></p>
						<div class="price">$<%= products[i].price %></div>
					</a>
				</div>
				<% } %>
			</div>
		</section>

		<!-- ----------------- Sección TESTIMONIALS -----------------  -->
		<section class="section section-scroll">
			<div class="title title-shop-skinscare">
				<h1>Testimonials</h1>
				<div>
					<header class="header-container">
						<h2 class="title-back title-back-skinscare">Clients</h2>
						<hr class="hr-skinscares" />
					</header>
				</div>
			</div>
			<div class="container-testimonials">
				<div class="slider">
					
          <!-- Cliente #4 -->
          <div class="slide active">
            <p>
              Hello, I’m Karla Colmenarez I created this  company with so much love that I am leaving this space here for you to comment on how wonderfully this product has changed your skin, just like it did for me.
            </p>
            <div class="client-info">
              <h3>Karla Colmenarez </h3>
              <span>CEO of Vita Health Center and Vita Skincare</span>
            </div>
          </div>
				</div>

				<div class="slider-indicator">
          <img src="./img/client-06.png" class="active" alt="" data-id="0" />
				</div>
			</div>
		</section>

		<!-- ------------------------  LATEST BLOGS ------------------------  -->
		<section class="section section-scroll">
			<div class="title title-shop-skinscare">
				<h1>Blog</h1>
				<div>
					<header class="header-container">
						<h2 class="title-back title-back-skinscare">Latest Articles</h2>
						<hr class="hr-skinscares" />
					</header>
				</div>
			</div>
		</section>

		<section class="section-blog section-blog-skinscare section-scroll">
			<div class="container-blog">
				<main class="main-blog">
					<%- include('blog/list_posts.ejs', { dir: 'blog/' }); %>
				</main>
			</div>
		</section>

		<!-- ------------------------  Footer ------------------------  -->
		<%- include('partials/skincare-footer.ejs'); %>

		<!-- Scripts-->
		<script src="https://unpkg.com/scrollreveal"></script>
		<%- include('partials/script.ejs'); %>
		<script src="/assets/js/index.js"></script>
	</body>
</html>
