<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
		<!-- <link
			href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			rel="stylesheet"
			id="bootstrap-css"
		/> -->

		<!-- TODO: -->
		<!-- ANOTACIÓN PENDIENTE AQUI -->
		<!-- FIXME: -->
		<!-- QUITAR LOS ESTILOS DOCUMENTADOS YA NO APLICAN A ESTA VISTA -->
		<!-- <link rel="stylesheet" href="assets/css/styles_shop.css" /> -->
		<link rel="stylesheet" href="assets/css/styles_view_derma.css" />
	</head>

	<body>
		<!--  ------------------ PROMO ------------------ -->
		<div class="promo">
			<span>
				<a href="#">
					<i class="fas fa-envelope"></i> contactvitahealthc@gmail.com
				</a></span
			>
			<span>Get 30% OFF This Christmas Holidays</span>
			<span>
				<ul class="media_social">
					<li>
						<a href="#"><i class="fab fa-facebook-square"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</li>
				</ul>
			</span>
		</div>

		<!-- ------------------ HEADER ------------------------ -->
		<div class="header">
			<%- include('partials/header.ejs', {account: user.name}); %>
		</div>
		<!-- ------------------ End Header ------------------------ -->

		<!-- ----------------- SINGLE PRODUCT DETAILS ------------- -->

		<div class="content-product">
			<div class="content-wrapper">
				<!-- Elemento 1 -->
				<div class="view-product">
					<div class="col-2">
						<img src="./img/dermaroller .jpg" width="4px" id="ProductImg" />

						<div class="small-img-row">
							<div class="small-img-col">
								<img src="./img/View recent photos (1).png" class="small-img" />
							</div>

							<div class="small-img-col">
								<img src="./img/View recent photos.png" class="small-img" />
							</div>

							<div class="small-img-col">
								<img src="./img/IMG_4664.jpg" class="small-img" />
							</div>
						</div>
					</div>
				</div>

				<!-- Elemento 2 -->
				<div class="info-producto">
					<h2>tHydra Roller </h2>
					<p class="product-price">$250</p>
					<label class="size-product">Size</label>
					<select class="select-css">
						<option>Select an option</option>
						<option>0.5 mm Needle Size</option>
					</select>
					<!-- <select>
						<option>Select Size</option>
						<option>.5m</option>
						<option>1mm</option>
					</select> -->
					<div class="container-flex">
						<input type="number" value="1" />
						<a href="something" class="button1">Add to card</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Descrition for products -->

		<div class="container-taps">
			<ul class="taps__header">
				<!-- item 1 -->
				<li data-tab-target="#description" class="active taps__headers"
					>Description</li
				>

				<!-- item 2 -->
				<li data-tab-target="#aditional-information" class="taps__headers"
					>Additional information</li
				>

				<li data-tab-target="#video" class="taps__headers">Video</li>
				<!-- item 3 -->

				<!-- item 4 -->
				<li data-tab-target="#instructions" class="taps__headers"
					>Instructions</li
				>

				<!-- item 5 -->
				<li data-tab-target="#precaution" class="taps__headers"
					>Precautions & S.Effects
				</li>
			</ul>

			<div class="taps__content">
				<div id="description" data-tab-content class="active">
					<h2 class="taps__title animate__animated animate__fadeInDown"
						>Description</h2
					>
					<p class="taps__info animate__animated animate__fadeInDown">
						540 titanium over stainless steel micro-needles. Available in either
						1.0mm for normal skin or .5mm for sensitive skin.
					</p>
				</div>
				<div id="aditional-information" data-tab-content>
					<h2 class="taps__title animate__animated animate__fadeInDown"
						>additional information</h2
					>
					<p class="taps__info animate__animated animate__fadeInDown">
						<table class="taps__table">
							<tbody>
								<tr>
									<th>Weight</th> 
									<th>Dimensions</th> 
									<th>Size</th> 
								</tr>
								<tr>
									<td>2 oz</td>
									<td>3.5 x 5.63 x 1 in</td>
									<td>0.5 mm Needle Size</td>
								</tr>
							</tbody>
						</table>
					</p>
				</div>
				<div id="video" data-tab-content>
					<h2 class="taps__title animate__animated animate__fadeInDown"
						>Video</h2
					>
					<p class="taps__info animate__animated animate__fadeInDown">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam,
						cupiditate sapiente dignissimos omnis quidem ducimus libero
						accusamus. Iure amet officiis distinctio maxime maiores hic. Dicta
						deserunt perspiciatis eaque adipisci dolorem?
					</p>
				</div>

				<div id="instructions" class="instructions" data-tab-content>
					<h2 class="taps__title animate__animated animate__fadeInDown"
						>Instructions</h2
					>
					<p class="taps__info animate__animated animate__fadeInDown">
						<ul class="instructions__info">
							<li>Remove the applicator from the packaging.</li>
							<li>Sanitize the top pf applicator about 10 minutes with 70% Isopropyl Alcohol.</li>
							<li>Wash your face keep clean and dry.</li>
							<li>Place serum in infuser bottle. Do not use thick serums, consistency should be like to olive oil.</li>
							<li>Not for use with prescription products.</li>
							<li>Shake the Hydra Roller several about 2-3 times from side to side.</li>
							<li>Do not use roller on lips. Eyelids or mucus membranes.</li>
							<li>Use gently at first until you know what your skin can tolerate.</li>
							<li>The treatment should not be painful and should not draw blood.</li>
							<li>Use every 2-3 days until your skin becomes accustomed, then use no more than once a day.</li>
							<li>Be sure the device is vertical for serum to come out evenly when rolling.</li>
							<li>IF you have serum left on the skin after treatment, rub serum into the skin.</li>
							<li>Please see our information and instructional video</li>
							<li> Roll 4 time in each direction.</li>
						</ul>
					</p>

					<div class="instructions__img">
						<img src="./img/image 2.png" class="instructions__imgs" alt="">
						<img src="./img/image 1.png" class="instructions__imgs" alt="">
					</div>
				</div>
				<div id="precaution" data-tab-content>
					<h2 class="taps__title animate__animated animate__fadeInDown"
						>Precaution & Possible Side Effects</h2
					>
					<p class="taps__info animate__animated animate__fadeInDown">

						<ul class="instructions__info">

							<li> Keep out of the reach of children. </li>

							<li> Never share the roller with other people. </li>
							
							<li> Keep the applicator always clean. </li>
							
							<li> Do not use on sunburn, open cuts, herpes, pustule acne lesions or any other sore
							areas, nflamed or infected skin. 
							</li>
							
							<li>  Do not use if you have a history of poor wound healing, skin disease, blood problems, are
							immunocompromised, re pregnant or lactating, are prone to keloid scarring or have diabetes.
							</li> 
							
							<li>  IF you are uncertain about your skin condition, please consult a dermatologist before using. </li>
							
							<li>  Use of roller on open wounds may cause infection. If you develop any skin
							sensitivity ater use, consult your physician. 
							</li>
							
							<li>  Your skin may redden after use this should go away within a few hours. </li>
							
							<li>  You may experience some drying of the skin after use and/ or some flaking.
							If tis happens, stop using the roller until the skin returns to
							normal. 
							</li>
							
							<li>  In some individuals, slight bleeding may occur, if this
							could hppen, clean the are with warm soapy water, apply antiseptic
							ointment ad allow area to heal before continuing use. 
							</li>
							
							<li>  Aspirin,Ibuprofen, vitamin E, other supplements and blood thinning drugs can
							cause icreased bruising, please consult your physician if you are
							taking these medications. Use entirely at your own risk. To the
							maximum extent permitted by law, we are not responsible for negative
							or damaging results obtained by proper or improper use of this
							product. Even though many of our customers have experienced
							incredibly positive results, we cannot guarantee results.
							</li>

						</ul>
					</p>
				</div>
			</div>
		</div>
		<!-- Descrition end-->

		<!--    Title -->
		<div class="small-container-product">
			<div class="row-product row-2">
				<h2>Related Products</h2>
			</div>
		</div>

		<!-- ----------------- Related products -----------------  -->
		<section class="section">
			<div class="title title-shop-skinscare"></div>
			<div class="product-center container">
				<% for(let i=0; i < products_related.length; i++) { %>
				<div class="product">
					<div class="img-cover">
						<img src="<%= products_related[i].image %>" />
					</div>
					<p><%= products_related[i].name %></p>
					<div class="rating">
						<% for(var j=0; j < products_related[i].assessment; j++) { %>
						<i class="bx bxs-star"></i>
						<% } %>
					</div>
					<div class="price">$<%= products_related[i].price %></div>
					<a href="/shop">aqui</a>
				</div>
				<% } %>
			</div>
		</section>

		<!-- ------------------------  Footer ------------------------  -->
		<div class="footer footer-skincare">
			<div class="container-footer">
				<div class="row-footer">
					<div class="footer-col-3">
						<a href="/">
							<h3>Vita Health Center</h3>
						</a>
						<ul>
							<li>
								<a href="/faq">FAQ</a>
							</li>
							<li>
								<a href="/blog">Blogs Post</a>
							</li>
							<li>My Account</li>
							<li>
								<a href="/contact">Contact us</a>
							</li>
							<li>
								<a href="/privacy_policies">Terms of Use — Privacy Policy</a>
							</li>
						</ul>
					</div>

					<div class="footer-col-2">
						<a href="/skincare">
							<img src="./img/logo vitaskincare arena.png" />
						</a>
					</div>

					<div class="footer-col-3">
						<h3>Vita Skincare</h3>
						<ul>
							<li class="li-footer"></li>
							<li>
								<a href="/blog">Blogs Post</a>
							</li>
							<li>My Account</li>
							<li>instructions</li>
							<li>
								<a href="/returns_exchanges">Return Policy</a>
							</li>
							<li>
								<a href="/privacy_policies">Terms of Use — Privacy Policy</a>
							</li>
						</ul>
					</div>

					<div class="footer-col-4">
						<h3>Follow us</h3>
						<ul>
							<li>Facebook</li>
							<li>Instagram</li>
							<li>Pinterest</li>
						</ul>
					</div>
				</div>
				<hr />
				<p class="copyright" style="color: #fff"> Copyright 2021 - Vita Inc </p>
			</div>
		</div>
		<script>
			console.log('hola mundo desde js');
			var ProductImg = document.getElementById('ProductImg');

			var SmallImg = document.getElementsByClassName('small-img');

			SmallImg[0].onclick = function () {
				ProductImg.src = SmallImg[0].src;
				console.log(ProductImg);
			};

			SmallImg[1].onclick = function () {
				ProductImg.src = SmallImg[1].src;
			};

			SmallImg[2].onclick = function () {
				ProductImg.src = SmallImg[2].src;
			};
		</script>
		<!-- FIXME: BORRAR CODIGO LUEGO QUE FUNCIONE LO DEMÁS -->
		<!-- <script>
			let tabPanes = document
				.getElementsByClassName('tab-header')[0]
				.getElementsByTagName('div');

			for (let i = 0; i < tabPanes.length; i++) {
				tabPanes[i].addEventListener('click', function () {
					document
						.getElementsByClassName('tab-header')[0]
						.getElementsByClassName('active')[0]
						.classList.remove('active');
					tabPanes[i].classList.add('active');

					document
						.getElementsByClassName('tab-content')[0]
						.getElementsByClassName('active')[0]
						.classList.remove('active');
					document
						.getElementsByClassName('tab-content')[0]
						.getElementsByTagName('div')
						[i].classList.add('active');
				});
			}
		</script> -->
		<%- include('partials/script.ejs'); %>
		<script src="/assets/js/index.js"></script>
	</body>
</html>
