<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
		<!-- FIXME: -->
		<!-- QUITAR LA REFERENCIA A ESTE ARCHIVO YA QUE NO APLICA NADA -->
		<!-- <link rel="stylesheet" href="assets/css/styles_shop.css" /> -->
		<link rel="stylesheet" href="/assets/css/styles_view_product.css" />
	</head>

	<body>
		<div id="preloader"></div>

		<!--  ------------------ PROMO ------------------ -->
		<%- include('partials/banner.ejs'); %>
		
		<!-- ------------------ HEADER ------------------------ -->
		<div class="header">
			<%if (user === undefined) { %> <%- include('partials/header.ejs', {
			account: "LOGIN"}); %> <% } else { %> <%-
			include('partials/header.ejs', { account: user.name, car}); %> <% } %>
		</div>

		<!-- ------------------ Products ------------------------ -->
    <div class="container py-4 mt-5">
      <div class="row py-5">
          <% for (const product of products) { %>
              <div class="col-md-4 product__link">
                <a href="/shop/<%=product.id%>/">
                <div class="product__category">
                  <%= product_label[product.label] %>
                </div>
              <div>
                <img class="card-img-top" src="<%= product.image?.image ?? 'https://placehold.co/400x300' %>" alt="Card image cap">
                <div class="product__body py-4">
                  <% for(var i=0; i < product.assessment; i++) { %>
                    <i class="bx bxs-star"></i>
                  <% } %>
                  <div class="row">
                    <div class="col-6">
                      <h5 class="product__title card-title"><%= product.name %></h5>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                      <p class="product__preice card-text">$<%= product.price %></p>
                    </div>
                  </div>
                  <a href="/shop/<%=product.id%>/" class="product__btn">Buy Now</a>
                </div>
              </div>
                </a>
              </div>
            <% } %>
      </div>
    </div>
  
  <!-- footer -->
  <%- include('partials/skincare-footer.ejs'); %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%- include('partials/script.ejs'); %>
  <script src="/assets/js/index.js"></script>
</body>
</html>
