<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
		<!-- FIXME: -->
		<!-- QUITAR LA REFERENCIA A ESTE ARCHIVO YA QUE NO APLICA NADA -->
		<!-- <link rel="stylesheet" href="assets/css/styles_shop.css" /> -->
		<link rel="stylesheet" href="assets/css/styles_view_product.css" />
	</head>

	<body>
		<!--  ------------------ PROMO ------------------ -->
		<div class="promo">
			<span>
				<a href="#">
					<i class="fas fa-envelope"></i> contactvitahealthc@gmail.com
				</a></span
			>
			<span>ESTA ES LA VISTA DE LOS SERUMS</span>
			<span>
				<ul class="media_social">
					<li>
						<a href="#"><i class="fab fa-facebook-square"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</li>
				</ul>
			</span>
		</div>

		<!-- ------------------ HEADER ------------------------ -->
		<div class="header">
			<%- include('partials/header.ejs', {account: user.name }); %>
		</div>
		<!-- ------------------ End Header ------------------------ -->

		<!-- ----------------- SINGLE PRODUCT DETAILS ------------- -->

		<section class="section">
			<div class="section__col-1">
				<img src="./img/product10.jpg" class="prueba_img" id="ProductImg" />

				<div class="section__col-1__img">
					<div class="section__col-1__img_small">
						<img src="./img/product10.jpg" class="small-img" />
					</div>

					<div class="section__col-1__img_small">
						<img src="./img/product10.jpg" class="small-img" />
					</div>

					<div class="section__col-1__img_small">
						<img src="./img/product10.jpg" class="small-img" />
					</div>
				</div>
			</div>
			<div class="section__col-2">
				<div class="section__col-2__content">
					<h2>Antioxidant Vitamin C Serum</h2>
					<p>Size: 1.0 fl. oz/30 ml</p>
					<p class="section__col-2-price">$250</p>

					<div class="section__col-2 section__col-2--flex">
						<form action="/add_cart" method="post">
							<input type="number" value="1" / name="quantity">
							<input type="hidden" name="product_id" />
							<button type="submit" class="section__col-2-btn"
								>Add to card</button
							>
						</form>
					</div>
					<img
						class="section__col-2__iconos"
						src="./img/iconos_web.png"
						alt=""
					/>

					<p>
						<strong>How to use: </strong>
						Dispense one pump onto fingertips and apply to clean skin. Smooth
						over entire face, focusing on wrinkle-prone areas.
					</p>

					<p>
						<strong>Full Ingredient List:</strong>
						Water (Agua), Carthamus Tinctorius (Organic Safflower) Oil,
						Emulsifying Wax, Aloe Barbadensis (Organic Aloe) Leaf Juice,
						Simmondsia Chinesis (Organic Jojoba) Oil, Xanthan Gum, Cocos
						Nucifera (Organic Coconut) Oil, Tocopheryl Acetate (Vitamin E),
						Glyceryl Linoleate, Retinyl Palmitate (Vitamin A), Retinol (Vitamin
						A), Zinc Oxide, Lecithin, Sorbitol, Vanilla Planifolia Extract,
						Butyrospermum Parkii (Organic Shea Butter), Sodium Hyaluronate
						(Hyaluronic Acid), Sodium Ascorbate, Panthenol (Vitamin B5),
						Palmitoyl Oligopeptide, Palmitoyl Tetrapeptide-7, Polysorbate 20,
						Helianthus Annuus (Organic Sunflower) Oil, Phenoxyethanol, Glycerin,
						Natural Fragrant Oil, Punica Granatum, (Organic Pomegranate) Oil.
					</p>

					<p>
						<strong>Caution: </strong>
						For external use only. Avoid contact with eyes and mouth. If
						irritation occurs, discontinue use. Keep out of reach of children.
						*This product has natural ingredients and cream/serum color will
						change. We do not use bleaching agents to control the color/shade
					</p>

					<p>
						<strong>Key Benefits:</strong>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum
						tempore odio quisquam officiis ipsam perspiciatis. Deserunt quisquam
						id natus laboriosam aut nemo, porro ad et suscipit velit ducimus
						odit nesciunt.
					</p>
				</div>
			</div>
		</section>

		<!-- TODO: BORRAR SE VA A RESTRUCTURA EL CODIGO -->
		<!-- TODO: USAR ESTE CODIGO COMENTADO PARA MANIPULAR EL DOM -->
		<!-- <div class="content-product">
			<div class="content-wrapper">
				<div class="view-product">

					<div class="col-2">
						<img src="./img/product10.jpg" width="4px" id="ProductImg" />

						<div class="small-img-row">
							<div class="small-img-col">
								<img src="./img/product10.jpg" class="small-img" />
							</div>

							<div class="small-img-col">
								<img src="./img/product10.jpg" class="small-img" />
							</div>

							<div class="small-img-col">
								<img src="./img/product10.jpg" class="small-img" />
							</div>
						</div>
					</div>

				</div>

				<div class="info-producto">
					<h2>Antioxidant Vitamin C Serum</h2>
					<p style="margin-top: 5px; margin-bottom: 15px"
						>Size: 1.0 fl. oz/30 ml</p
					>
					<p class="product-price">$250</p>
					<div class="container-flex">
						<form action="/add_cart" method="post">
							<input type="number" value="1" / name="quantity">
							<input type="hidden" name="product_id" />
							<button type="submit" class="button1">Add to card</button>
						</form>
					</div>

					<div class="description-product">
						<div class="iconos-vita">
							<ul>
								<li>
									<img src="./img/prueba_1.png" alt="" />
								</li>
								<li>
									<img src="./img/prueba_2.png" alt="" />
								</li>
								<li>
									<img src="./img/prueba_3.png" alt="" />
								</li>
								<li>
									<img src="./img/prueba_5.png" alt="" />
								</li>
								<li>
									<img src="./img/prueba_6.png" alt="" />
								</li>
								<li>
									<img src="./img/prueba_7.png" alt="" />
								</li>
								<li>
									<img src="./img/prueba_8.png" alt="" />
								</li>
							</ul>
						</div>

						<p>
							<strong>How to use: </strong>
							Dispense one pump onto fingertips and apply to clean skin. Smooth
							over entire face, focusing on wrinkle-prone areas.
						</p>

						<p>
							<strong>Full Ingredient List:</strong>
							Water (Agua), Carthamus Tinctorius (Organic Safflower) Oil,
							Emulsifying Wax, Aloe Barbadensis (Organic Aloe) Leaf Juice,
							Simmondsia Chinesis (Organic Jojoba) Oil, Xanthan Gum, Cocos
							Nucifera (Organic Coconut) Oil, Tocopheryl Acetate (Vitamin E),
							Glyceryl Linoleate, Retinyl Palmitate (Vitamin A), Retinol
							(Vitamin A), Zinc Oxide, Lecithin, Sorbitol, Vanilla Planifolia
							Extract, Butyrospermum Parkii (Organic Shea Butter), Sodium
							Hyaluronate (Hyaluronic Acid), Sodium Ascorbate, Panthenol
							(Vitamin B5), Palmitoyl Oligopeptide, Palmitoyl Tetrapeptide-7,
							Polysorbate 20, Helianthus Annuus (Organic Sunflower) Oil,
							Phenoxyethanol, Glycerin, Natural Fragrant Oil, Punica Granatum,
							(Organic Pomegranate) Oil.
						</p>

						<p>
							<strong>Caution: </strong>
							For external use only. Avoid contact with eyes and mouth. If
							irritation occurs, discontinue use. Keep out of reach of children.
							*This product has natural ingredients and cream/serum color will
							change. We do not use bleaching agents to control the color/shade
						</p>
					</div>
				</div>
			</div>
		</div> -->

		<!-- Descrition end-->

		<!--    Title -->
		<!-- <div class="small-container-product">
			<div class="row-product row-2">
				<h2>Related Products</h2>
			</div>
		</div> -->

		<!-- ----------------- Related products -----------------  -->
		<!-- <section class="section">
			<div class="title title-shop-skinscare"></div>
			<div class="product-center container">
				<% for(let i=0; i < products_related.length; i++) { %>
				<div class="product">
					<div class="img-cover">
						<img src="<%= products_related[i].image %>" />
					</div>
					<p><%= products_related[i].name %></p>
					<div class="rating">
						<% for(var j=0; j < products_related[i].assessment; j++) { %>
						<i class="bx bxs-star"></i>
						<% } %>
					</div>
					<div class="price">$<%= products_related[i].price %></div>
					<a href="/shop">aqui</a>
				</div>
				<% } %>
			</div>
		</section> -->

		<div class="related-product">
			<h2>related product</h2>
			<div class="products">
				<ul>
					<li>
						<a href="#"> <img src="./img/product10.jpg" alt="" /> </a>
						<p>Lorem, ipsum dolor sit amet consectetur</p>
						<p>25$</p>
						<div class="rating">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
					</li>
					<li>
						<a href="#"> <img src="./img/product10.jpg" alt="" /> </a>
						<p>Lorem, ipsum dolor sit amet consectetur</p>
						<p>25$</p>
						<div class="rating">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
					</li>
					<li>
						<a href="#"> <img src="./img/product10.jpg" alt="" /> </a>
						<p>Lorem, ipsum dolor sit amet consectetur</p>
						<p>25$</p>
						<div class="rating">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- ------------------------  Footer ------------------------  -->
		<div class="footer footer-skincare">
			<div class="container-footer">
				<div class="row-footer">
					<div class="footer-col-3">
						<a href="/">
							<h3>Vita Health Center</h3>
						</a>
						<ul>
							<li>
								<a href="/faq">FAQ</a>
							</li>
							<li>
								<a href="/blog">Blogs Post</a>
							</li>
							<li>My Account</li>
							<li>
								<a href="/contact">Contact us</a>
							</li>
							<li>
								<a href="/privacy_policies">Terms of Use — Privacy Policy</a>
							</li>
						</ul>
					</div>

					<div class="footer-col-2">
						<a href="/skincare">
							<img src="./img/logo vitaskincare arena.png" />
						</a>
					</div>

					<div class="footer-col-3">
						<h3>Vita Skincare</h3>
						<ul>
							<li class="li-footer"></li>
							<li>
								<a href="/blog">Blogs Post</a>
							</li>
							<li>My Account</li>
							<li>instructions</li>
							<li>
								<a href="/returns_exchanges">Return Policy</a>
							</li>
							<li>
								<a href="/privacy_policies">Terms of Use — Privacy Policy</a>
							</li>
						</ul>
					</div>

					<div class="footer-col-4">
						<h3>Follow us</h3>
						<ul>
							<li>Facebook</li>
							<li>Instagram</li>
							<li>Pinterest</li>
						</ul>
					</div>
				</div>
				<hr />
				<p class="copyright" style="color: #fff"> Copyright 2021 - Vita Inc </p>
			</div>
		</div>

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- TODO: TRABAJAR EN EL JS -->
		<script>
			console.log('hola mundo desde js');
			var ProductImg = document.getElementById('ProductImg');

			var SmallImg = document.getElementsByClassName('small-img');

			SmallImg[0].onclick = function () {
				ProductImg.src = SmallImg[0].src;
				console.log(ProductImg);
			};

			SmallImg[1].onclick = function () {
				ProductImg.src = SmallImg[1].src;
			};

			SmallImg[2].onclick = function () {
				ProductImg.src = SmallImg[2].src;
			};
		</script>
		<script>
			let tabPanes = document
				.getElementsByClassName('tab-header')[0]
				.getElementsByTagName('div');

			for (let i = 0; i < tabPanes.length; i++) {
				tabPanes[i].addEventListener('click', function () {
					document
						.getElementsByClassName('tab-header')[0]
						.getElementsByClassName('active')[0]
						.classList.remove('active');
					tabPanes[i].classList.add('active');

					document
						.getElementsByClassName('tab-content')[0]
						.getElementsByClassName('active')[0]
						.classList.remove('active');
					document
						.getElementsByClassName('tab-content')[0]
						.getElementsByTagName('div')
						[i].classList.add('active');
				});
			}
		</script>
		<%- include('partials/script.ejs'); %>
	</body>
</html>
