<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs'); %>
        <link rel="stylesheet" href="assets/css/styles_blog.css" />
    </head>
    <body>
    <!--  ------------------ PROMO ------------------ -->
    <%- include('partials/banner.ejs'); %>
        
        <!-- ------------------ HEADER ------------------------ -->
        <div class="header">
            <%- include('partials/header.ejs', { account: user?.name, car }); %>
        </div>

        <br /><br /><br />

        <!-- ------------------------  Article ------------------------  -->
        <section class="section">
            <img src="<%= post.image %>" alt="<%= post.title %>" class="image-cover-post" />
            <br /><br />

            <div class="container">
                <h1><%= post.title %></h1>
                <p>By <%= `${post.createdBy.name} ${post.createdBy.lastname}` %> | <a href="#"></a> <%= post.created_at %></p>
                <br />
                <%- post.content %>
            </div>
        </section>

        <!-- ------------------------  Footer ------------------------  -->
        <%- include('partials/skincare-footer.ejs'); %>
    </body>
</html>
