<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs'); %>
		<!-- FIXME: -->
		<!-- QUITAR LA REFERENCIA A ESTE ARCHIVO YA QUE NO APLICA NADA -->
		<!-- <link rel="stylesheet" href="assets/css/styles_shop.css" /> -->
		<link rel="stylesheet" href="/assets/css/styles_view_product.css" />
	</head>

	<body>
		<div id="preloader"></div>

		<!--  ------------------ PROMO ------------------ -->
		<div class="promo">
			<span>
				<a href="#">
					<i class="fas fa-envelope"></i> contactvitahealthc@gmail.com
				</a></span
			>
			<span>Get 30% OFF This Christmas Holidays</span>
			<span>
				<ul class="media_social">
					<li>
						<a href="#"><i class="fab fa-facebook-square"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</li>
				</ul>
			</span>
		</div>

		<!-- ------------------ HEADER ------------------------ -->
		<div class="header">
			<%if (user === undefined) { %> <%- include('partials/header.ejs', {
			account: "LOGIN"}); %> <% } else { %> <%-
			include('partials/header.ejs', { account: user.name, car}); %> <% } %>
		</div>
  <div class="container py-4 mt-5">
    <div class="row py-5">
        <% for (const product of products) { %>
            <div class="col-md-4">
                <a href="/shop/<%=product.id%>/">
              <div class="card  p-2">
                <img class="card-img-top" src="https://placehold.co/400x300" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text"><%= product.description %></p>
                  <p class="card-text"><%= product.price %></p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
              </a>
            </div>
          <% } %>
    </div>
  </div>
  <div class="footer footer-skincare">
    <div class="container-footer">
        <div class="row-footer">
            <div class="footer-col-3">
                <a href="/">
                    <h3>Vita Health Center</h3>
                </a>
                <ul>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="/blog">Blogs Post</a>
                    </li>
                    <li>My Account</li>
                    <li>
                        <a href="/contact">Contact us</a>
                    </li>
                    <li>
                        <a href="/privacy_policies">Terms of Use — Privacy Policy</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col-2">
                <a href="/skincare">
                    <img src="/img/logo vitaskincare arena.png" />
                </a>
            </div>

            <div class="footer-col-3">
                <h3>Vita Skincare</h3>
                <ul>
                    <li class="li-footer"></li>
                    <li>
                        <a href="/blog">Blogs Post</a>
                    </li>
                    <li>My Account</li>
                    <li>instructions</li>
                    <li>
                        <a href="/returns_exchanges">Return Policy</a>
                    </li>
                    <li>
                        <a href="/privacy_policies">Terms of Use — Privacy Policy</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Pinterest</li>
                </ul>
            </div>
        </div>
        <hr />
        <p class="copyright" style="color: #fff"> Copyright 2021 - Vita Inc </p>
    </div>
</div>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%- include('partials/script.ejs'); %>
</body>
</html>
