<%- include('template-init', { template_name: 'DERMA' }); %>

  <section class="section">
    <div class="section__col-1">
      <img src="<%= image.image %>" class="prueba_img" id="ProductImg" />

      <div class="section__col-1__img">
        <% for( const productImage of product.images ){ %>
          <div class="section__col-1__img_small">
            <img src="<%= productImage.image ?? "" %>" class="small-img" />
          </div>
          <% } %>
      </div>
    </div>
    <div class="section__col-2">
      <div class="section__col-2__content">
        <h2>
          <strong>Product:</strong>
          <span>
            <%= product.name %>
          </span>
        </h2>

        <%- include('product-sizes'); %>

        <p class="section__col-2-price">
          <strong>Price: </strong> $<%= product.price %>
        </p>

        <div class="section__col-2 section__col-2--flex">
          <form action="/shopping_cart/add" method="post">
            <input type="number" value="1" / name="quantity" id="quantity" max="<%= product.quantity %>" />
            <input type="hidden" name="product_id" value="<%= product.id %>" id="product_id" />
            <button type="submit" class="section__col-2-btn">Add to card</button>
          </form>
        </div>
        <img class="section__col-2__iconos" src="/img/iconos_web.png" alt="" />
        <div class="info__content">
          <div class="description__content">
            <h2>Description</h2>
            <% if (product.description) { %>
              <% for (const description of product.description.split('\n')) { %>
                <p><%= description %></p>
              <% } %>
            <% } %>
          </div>
          <div class="additional__information">
            <h2>Additional Information</h2>
            <p>Weight: <%= product.weight %></p>
            <p>Dimensions: <%= product.weight %></p>
          </div>
          <div id="accordion">
            <div class="card product__content">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed btn-accordion" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Instructions
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <ul class="instructions">
                    <% if (product.howUse) { %>
                      <% for (const howUse of product.howUse.split('\n')) { %>
                        <li><%= howUse %></li>
                      <% } %>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card product__content">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Precaution &amp; Possible Side Effects:
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <ul class="instructions">
                    <% if (product.caution) { %>
                      <% for (const caution of product.caution.split('\n')) { %>
                        <li><%= caution %></li>
                      <% } %>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('template-end'); %>