<div class="related-product">
    <h2>Related product</h2>
    <div class="products">
      <ul>
        <% for (const productR of relatedProducts){ %>
          <li>
            <a href="<%= '/shop/' + productR.id %>"> <img src="<%= productR.image.image %>" alt="no image" /> </a>
            <p>
              <%= productR.name %>
            </p>
            <p>
              <%= productR.price %>
            </p>
            <div class="rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
          </li>
          <% } %>

      </ul>
    </div>
</div>

<!-- ------------------------  Footer ------------------------  -->
<%- include('../partials/skincare-footer'); %>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- TODO: TRABAJAR EN EL JS -->
<script>
  var ProductImg = document.getElementById('ProductImg');

  var SmallImg = document.getElementsByClassName('small-img');

  SmallImg[0].onclick = function () {
    ProductImg.src = SmallImg[0].src;
    console.log(ProductImg);
  };

  SmallImg[1].onclick = function () {
    ProductImg.src = SmallImg[1].src;
  };

  SmallImg[2].onclick = function () {
    ProductImg.src = SmallImg[2].src;
  };
</script>

<script>
  let tabPanes = document
    .getElementsByClassName('tab-header')[0]
    .getElementsByTagName('div');

  for (let i = 0; i < tabPanes.length; i++) {
    tabPanes[i].addEventListener('click', function () {
      document
        .getElementsByClassName('tab-header')[0]
        .getElementsByClassName('active')[0]
        .classList.remove('active');
      tabPanes[i].classList.add('active');

      document
        .getElementsByClassName('tab-content')[0]
        .getElementsByClassName('active')[0]
        .classList.remove('active');
      document
        .getElementsByClassName('tab-content')[0]
        .getElementsByTagName('div')
      [i].classList.add('active');
    });
  }
</script>

<%- include('../partials/script.ejs'); %>
<script src="/assets/js/index.js"></script>
</body>
</html>