<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../partials/head.ejs'); %>
      <link rel="stylesheet" href="assets/css/styles_blog.css" />
    </head>
    <body>
    <!--  ------------------ PROMO ------------------ -->
    <%- include('../partials/banner.ejs'); %>
        
      <!-- ------------------ HEADER ------------------------ -->
      <div class="header">
          <%- include('../partials/header.ejs', { account: user?.name, car }); %>
      </div>
      <!-- ------------------------  Article ------------------------  -->
      <section class="section">
        <article class="blog_section">
          <div class="blog__header">
            <img class="image-cover-post" src="<%= post.image %>" alt="<%= post.title %>" />
          </div>
          <div class="blog_content">
              <h1 class="blog__title"><%= post.title %></h1>
              <p class="blog__date">By <%= `${post.createdBy.name} ${post.createdBy.lastname}` %> | <%= post.created_at %></p>
              <div style="font-size: 16px;"><%- post.content %></div>
          </div>
          <div class="back__blog">
            <a class="btn__back" href="/blog">BACK TO BLOG</a>
          </div>
          <hr>
        </article>

        <div class="related-post">
          <h2>Related post</h2>
          <section>
            <div class="container-blog">
              <main class="main-blog">
                <%- include('list_posts.ejs', { dir: '' }); %>
              </main>
            </div>
          </section>
        </div>
      </section>

        <!-- ------------------------  Footer ------------------------  -->
        <%- include('../partials/skincare-footer.ejs'); %>
    </body>
</html>
